@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
}

/* main colors used */
:root {
    --primary: hsl(60, 100%, 50%);
    --accent: hsl(240, 100%, 50%);
    --negative: hsl(0, 0%, 100%);
    --shadow: hsl(0, 0%, 0%);
}

body {
    width: 100%;
    display: grid;
    grid: repeat(12, 80px) / repeat(18, 80px);
    gap: 10px;
    overflow-x: hidden;
}

/* all text styling */
h1, h2, h3, p {
    text-transform: lowercase;
    color: var(--shadow);
}

header {
    background-color: var(--primary);
    border-radius: 0 50px 50px 0;
    height: 40px;
    grid-area: 2 / 1 / span 1 / span 9;
    align-self: flex-end;
/* background horizontal bar animation */
    transform-origin: left;
    transform: scaleX(0);
    animation: scaleX 2s ease-out 1s forwards;
}

@keyframes scaleX {
    to {
        transform: scaleX(1);
    }
}

aside {
    background-color: var(--primary);
    border-radius: 50px 50px 0 0;
    width: 20px;
    grid-area: 7 / 16 / 13 / span 1;
    justify-self: flex-end;
    /* background vertical bar animation */
    transform-origin: bottom;
    transform: scaleY(0);
    animation: scaleY 2s ease-out 0.5s forwards;
}

@keyframes scaleY {
    to {
        transform: scaleY(1);
    }
}

main {
    background-color: var(--primary);
    border-radius: 0 50px 0 0;
    grid-area: 5 / 1 / 13 / span 9;
    /* background box animation */
    transform-origin: bottom left;
    transform: scale(0);
    animation: scale 2s ease-out forwards;
}

@keyframes scale {
    to {
        transform: scale(1);
    }
}

h1 {
    font-size: 60px;
    font-weight: 100;
    grid-area: 3 / 1 / span 1 / span 9;
    justify-self: flex-end;
    /* text 1 animation */
    opacity: 0;
    animation: appear 2s ease-out 2s 1 forwards;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

h2 {
    font-size: 14px;
    font-weight: 300;
    writing-mode: vertical-rl;
    letter-spacing: 2px;
    word-spacing: 2px;
    grid-area: 3 / 16 / 8 / span 1;
    justify-self: flex-end;
    align-self: flex-end;
    /* vertical text animation */
    opacity: 0;
    transform: translateY(-500px);
    animation: slideUp 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 2s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    font-size: 37px;
    font-weight: 100;
    text-align: right;
    padding-right: 40px;
    grid-area: 7 / 13 / 13 / 17;
    align-self: center;
    /* text 3 animation */
    opacity: 0;
    animation: appear 2s ease-out 2s forwards;
}

button {
    height: 40px;
    outline: none;
    border: none;
    background-color: var(--accent);
    color: var(--negative);
    border-radius: 50px;
    cursor: pointer;
    grid-area: 2 / 15 / span 1 / span 2;
    align-self: flex-end;
    /* button animation */
    transform: scale(1) translateX(500px);
    animation: slideRight 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    /* button transition */
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 0px 0px rgb(0, 0, 235);
}

@keyframes slideRight {
    to {
        transform: translateX(0);
    }
}

button:hover {
    box-shadow: 0px 2px 0px 0px rgb(0, 0, 235);
    background-color: rgb(0, 0, 235);
}

button:active {
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 235);
    background-color: rgb(0, 0, 235);
}

/* 
---------------
(24)- Adding h3 styles
---------------
*/

h3 {
    font-size: 97px;
    text-shadow: 4px 4px 0px var(--accent);
    /* text 2 4 animation */
    transform-origin: left;
    transform: translateX(-2500px);
    animation: translateX 2s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
    /* text is darkened when on background color area */
    mix-blend-mode: darken;
}

h3:nth-of-type(1) {
    grid-area: 11 / 6 / span 2 / 17;
    animation-delay: 2s;
}

h3:nth-of-type(2) {
    grid-area: 6 / 2 / span 2 / 17;
    animation-delay: 3s;
}

@keyframes translateX {
    to {
        transform: translateX(0);
    }
}
